<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharif's Url Shortner Site</title>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Url Shortner</h1>
            <form id='post-form'>
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Enter your URL : </span>
                    </div>
                    <input id="link" type="text" class="form-control" aria-describedby="basic-addon3" required>
                    <button id="shorten" type="submit" class="btn btn-primary">Shorten</button>
                </div>
            </form>
            <h3></h3>
        </div>
    </div>
</main>

<script type='text/javascript' >
    $(document).on('submit','#post-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url: '/create',
            data:{
                link:$('#link').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(data){
                $('h3').html('localhost:8000/'+data)
            }
        });
    });
</script>

</html>